body{
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
input{
    width: 100%;
}
textarea{
    width: 100%;
}
button{
    width: 100%;
}
.button:hover{
    color: white;
    background-color: red;
}